@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
html {
  font-size: 62.5%; }

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0; }

body {
  background-image: url(../img/pattern.png);
  background-attachment: fixed; }

.bgWhite a {
  text-decoration: none; }

.botonera {
  background-color: darkmagenta;
  width: 100%;
  height: auto;
  font-size: 2rem;
  text-decoration: none;
  list-style: none; }
  .botonera ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap; }
    .botonera ul li {
      list-style: none;
      text-decoration: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 1rem 7rem 1rem 7rem; }
      .botonera ul li a {
        text-decoration: none;
        list-style: none; }
        .botonera ul li a:hover {
          font-weight: 600;
          transform: scale(1.2); }

.flexMenu {
  display: flex;
  flex-direction: column;
  align-items: center; }

.bordes, .articuloHome, .articuloHome div img, .section {
  border: 0.4rem solid black; }

.divisorHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  padding: 1rem;
  margin: 4rem; }
  .divisorHome img {
    padding: 1rem 10rem 1rem 10rem;
    margin: 1rem;
    width: 30%;
    height: auto; }
  .divisorHome .scale:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 2s; }
  .divisorHome .rotate:hover {
    transform: scale(0.7) rotateZ(360deg);
    cursor: pointer;
    transition: all 5s; }

.articuloHome {
  border-radius: 1rem;
  background-image: url(../img/mexican.webp); }
  .articuloHome:hover {
    transform: scale(1.07);
    cursor: pointer;
    transition: all 2.5s; }
  .articuloHome h1 {
    text-transform: uppercase;
    font-family: italic;
    font-weight: 600;
    line-height: 10rem;
    font-size: 4rem;
    background-color: rgba(248, 248, 255, 0.7);
    color: red; }
  .articuloHome div img {
    border-radius: 2rem;
    margin: 1rem;
    width: 60%;
    height: auto; }
  .articuloHome h2 {
    text-align: center;
    background-color: rgba(248, 248, 255, 0.7);
    font-weight: 600;
    font-size: 3rem; }
  .articuloHome p {
    background-color: rgba(248, 248, 255, 0.7);
    font-size: 2rem;
    font-weight: 600; }
    .articuloHome p span {
      display: block;
      text-decoration: underline;
      text-align: center; }

.section {
  background-image: url(../img/bubble.png);
  border-radius: 5px;
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: column;
  padding: 1rem;
  margin: 5rem 1rem 10rem 1rem;
  text-align: center; }
  .section div p {
    color: rgba(248, 248, 255, 0.7);
    font-weight: 600;
    font-size: 3rem; }
  .section img {
    width: 10%;
    height: auto; }

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.bgQuienes {
  border: 5px solid darkgrey;
  background-color: rgba(248, 248, 255, 0.5);
  width: 70%;
  height: auto;
  padding: 1;
  margin: 3.4rem 0 3.4rem 0;
  -webkit-box-shadow: 2px 1px 24px 5px #000000;
  box-shadow: 2px 1px 24px 5px #000000; }

.flexNosotros {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

h2 {
  text-align: center;
  font-size: 4rem; }

img {
  width: 100%;
  height: auto; }

p {
  text-align: center;
  font-size: 3rem; }
  p span {
    font-family: cursive; }

.gridMenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "titulo titulo titulo" "entrada comidatexana pizzas" "hamburguesas milanesas ensaladas" "jugo . postre"; }
  .gridMenu #titulo {
    grid-area: titulo; }
  .gridMenu #entrada {
    grid-area: entrada; }
  .gridMenu #comidaTexana {
    grid-area: comidatexana; }
  .gridMenu #pizzas {
    grid-area: pizzas; }
  .gridMenu #hamburguesas {
    grid-area: hamburguesas; }
  .gridMenu #milanesas {
    grid-area: milanesas; }
  .gridMenu #ensaladas {
    grid-area: ensaladas; }
  .gridMenu #jugo {
    grid-area: jugo; }
  .gridMenu #postre {
    grid-area: postre; }

.tituloMenu {
  display: block;
  font-size: 4rem;
  text-align: center;
  background-image: linear-gradient(to top, black, grey);
  color: rgba(248, 248, 255, 0.7); }

figure {
  border: 3px solid black;
  width: 95%;
  height: auto;
  text-align: center;
  background-image: url(../img/cactus.jpg);
  margin: 2rem 1rem 2rem 1rem;
  -webkit-box-shadow: -4px 6px 12px 2px #000000;
  box-shadow: -4px 6px 12px 2px #000000; }
  figure figcaption {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
    background-color: rgba(248, 248, 255, 0.7); }
  figure img {
    width: 75%;
    height: auto;
    text-align: center; }
  figure p {
    background-color: rgba(248, 248, 255, 0.7);
    font-family: italic;
    text-align: center;
    font-size: 3rem; }
  figure:hover {
    transform: scale(1.03);
    cursor: pointer;
    transition: transform 3s; }

.gridPromociones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "tituloPromociones tituloPromociones" "lunes martes" "miercoles jueves" "viernes feriados"; }
  .gridPromociones #tituloPromociones {
    grid-area: tituloPromociones; }
  .gridPromociones #lunes {
    grid-area: lunes; }
  .gridPromociones #martes {
    grid-area: martes; }
  .gridPromociones #miercoles {
    grid-area: miercoles; }
  .gridPromociones #jueves {
    grid-area: jueves; }
  .gridPromociones #viernes {
    grid-area: viernes; }
  .gridPromociones #feriados {
    grid-area: feriados; }

.tituloPromociones {
  font-size: 4rem;
  background-image: linear-gradient(to top, black, grey);
  text-align: center;
  text-decoration: underline;
  color: rgba(248, 248, 255, 0.7); }

.articulosPromociones {
  border: 3px solid #2bab5e;
  width: 95%;
  height: auto;
  background-image: url(../img/mexico1.png);
  text-align: center;
  padding: 0;
  margin: 4rem 2rem 3rem 2rem;
  -webkit-box-shadow: -12px 14px 8px 7px rgba(133, 52, 120, 0.66);
  box-shadow: -12px 14px 8px 7px rgba(133, 52, 120, 0.66); }
  .articulosPromociones h2 {
    color: red;
    font-size: 4rem;
    text-align: center;
    background-color: rgba(248, 248, 255, 0.7);
    font-weight: 600; }
  .articulosPromociones img {
    width: 75%;
    height: auto; }
  .articulosPromociones p {
    color: #5f1759;
    font-weight: 500;
    text-align: center;
    font-size: 3rem;
    background-color: rgba(248, 248, 255, 0.7); }
  .articulosPromociones:hover {
    transform: scale(1.03);
    cursor: pointer;
    transition: transform 3s; }

.imgLogo {
  width: 10%;
  height: auto; }

.letrasContacto {
  font-size: 3rem;
  color: #444444;
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  color: #444444; }

footer {
  background-color: rgba(248, 248, 255, 0.7); }
  footer div ol li {
    text-decoration: none;
    list-style: none;
    font-size: 1.6rem; }
  footer div p {
    font-size: 2rem;
    font-family: cursive; }
  footer div h3 {
    font-size: 3rem; }
  footer div ol li span {
    text-decoration: underline; }
  footer div div a img {
    width: 5rem;
    height: auto; }

.footerFooter {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to top, black, grey);
  text-align: center;
  color: rgba(248, 248, 255, 0.7); }

@media only screen and (max-width: 768px) {
  .gridMenu {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "titulo" "entrada" "comidatexana" "pizzas" "hamburguesas" "milanesas" "ensaladas" "jugo" "postre"; }
  .gridPromociones {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "tituloPromociones" "lunes" "martes" "miercoles" "jueves" "viernes" "feriados"; }
  .bgQuienes {
    width: 100%; }
  .articuloHome {
    width: 98%; }
  .section {
    width: 98%; }
  .form {
    width: 100%; }
  main section form img {
    display: none; }
  .divisorHome img {
    display: none; }
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; } }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .gridMenu {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "titulo titulo" "entrada comidatexana" "pizzas hamburguesas" "milanesas ensaladas" "jugo postre"; } }

@media only screen and (min-width: 993px) and (max-width: 1358px) {
  .botonera ul li {
    margin: 0.3rem;
    padding: 0; } }

@media only screen and (min-width: 1359px) and (max-width: 1508px) {
  .botonera ul li {
    margin: 0rem;
    padding: 0rem; } }

@media only screen and (min-width: 1509px) and (max-width: 1879px) {
  .botonera ul li {
    margin-left: 1rem;
    padding-left: 1rem; } }

@media only screen and (min-width: 0px) and (max-width: 1020px) {
  .divisorHome {
    flex-direction: column; }
    .divisorHome img {
      width: 40%;
      height: auto; } }
