// MAP TEXTOS

$fondoImg:false;

$color: (
	color1: rgb(255, 0, 0),
	color2: rgba(248, 248, 255, 0.7),
	color3: rgb(0, 100, 0),
	color4: rgb(139, 0, 139),
	color5: rgb(95, 23, 89)
);

$size: (
	size1:4rem,
	size2:3rem,
	size3:2rem
);

// VARIABLES TEXTO


$textoCentrado:center;
$textoGrueso:600;
$textoSubrayado:underline;
$textItalic:italic;


// MIXINS

@mixin p-m($padding,$margin){
	padding:$padding;
	margin:$margin;
}

@mixin w-h($widht,$height){
	width:$widht;
	height:$height;
}