// variables globales

$textoXl:4rem;
$textoMedium:3rem;
$textoSmall:2rem;


$fondoBlanco:rgba(248, 248, 255, 0.7);


$textoRojo:rgb(255, 0, 0);
$textoBlanco:white;
$textoCentrado:center;
$textoGrueso:600;
$textoSubrayado:underline;