.flexMenu{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bordes{
	border: 0.4rem solid black;
}

.divisorHome{
		display: flex;
		flex-wrap: wrap;
    	justify-content: space-around;
    	align-content: space-around;
    	@include p-m(1rem, 4rem);

	img{
		@include p-m(1rem 10rem 1rem 10rem,1rem);
		@include w-h(30%,auto);
	}

		.scale{
			&:hover{
			transform: scale(1.1);
			cursor: pointer;
			transition: transform 2s;
			}
	
		}

		.rotate{
			&:hover{
				transform: scale(0.7) rotateZ(360deg);
				cursor: pointer;
				transition: all 5s;
			}
		}
	}

.articuloHome{
	@extend .bordes;
	border-radius: 1rem;
	background-image: url(../img/mexican.webp);

	&:hover{
		transform:scale(1.07);
		cursor:pointer;
		transition: all 2.5s;
	}

	h1{
		text-transform: uppercase;
		font-family: italic;
		font-weight: 600;
		line-height: 10rem;
		font-size:map-get($size , size1);
		background-color:map-get($color , color2);
		color:map-get($color , color1);

	}

	div{
		img{
			@extend .bordes;
			border-radius:2rem;
			margin: 1rem;
			@include w-h(60%,auto);
		}
	}

	h2{
		text-align:$textoCentrado;
		background-color:map-get($color , color2);
		font-weight:$textoGrueso;
		font-size:map-get($size , size2);
	}

	p{
		background-color:map-get($color , color2);
		font-size:map-get($size , size3);
		font-weight:$textoGrueso;
		
		span{
			display:block;
			text-decoration:$textoSubrayado;
			text-align:center;
		}
	}
}

.section{
	background-image: url(../img/bubble.png);
	@extend .bordes;
	border-radius: 5px;
	@include w-h(80%,auto);
	display: flex;
	flex-wrap: wrap;
	align-items: column;
	@include p-m(1rem, 5rem 1rem 10rem 1rem);
	text-align: center;

	div p {
		color:map-get($color , color2);
		font-weight:$textoGrueso;
		font-size:map-get($size, size2);
	}

	img{
		width: 10%;
		height:auto;
	}
}
