footer{
	background-color:map-get($color , color2);

	div{
		ol{
			li{
				text-decoration: none;
				list-style: none;
				font-size: 1.6rem;
			}
		}
		p{
			font-size:map-get($size , size3);
			font-family: cursive;
		}
		h3{
			font-size:map-get($size, size2);
		}
		ol{
			li{
				span{
					text-decoration:$textoSubrayado;
				}
			}
		}
			div{

				a{
					img{
						width: 3.8rem;
						height: auto;
						}
				}
			}
		}
}

.footerFooter{
	@include w-h(100%,auto);
	background-image: linear-gradient(to top, black, grey);
	text-align:$textoCentrado;
	color:map-get($color , color2);
}