.bgWhite a{
	text-decoration: none;
}

.botonera{
	background-color:map-get($color , color4);
	@include w-h(100%,auto);
	font-size:map-get($size , size3);
	text-decoration: none;
	list-style: none;

	ul{
		list-style: none;
		text-decoration: none;
		display: flex;
		flex-wrap: wrap;

		li{
			list-style: none;
			text-decoration: none;
			display: flex;
			flex-wrap: wrap;
			@include p-m(0, 1rem 7rem 1rem 7rem);

			a{
				text-decoration: none;
		 		list-style: none;

		 	&:hover{
		 		font-weight:$textoGrueso;
				transform: scale(1.2);
		 	}
			}
		}
	}
}

